:root {
  --idd-blue: #0e2752;
}

body {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

#idd-header {
  padding: 10px;
  text-align: center;
  height: auto;
}

.idd-header-contents {
  height: 100%;
}

#idd-logo {
  /*width: 50%;*/
  width: 100%;
  max-width: 100px;
  float: center;
}

#idd-header-title {
  font-size: auto;
  font-family: trajan;
  padding: 10px;
  float: left;
}

#idd-navbar {
  background-color: #0e2752;
  color: white;
  text-align: center;
}

.idd-nav-item:hover {
  background-color: #366ac3;
}

#idd-body {
  max-width: 900px;
  background-color: gainsboro;
  padding: 50px;
}

b {
  font-family: serif;
}

p {
  font-size: large;
}

.btn {
  background-color: #0e2752;
  color: white;
}

form {
  padding: 10px;
  text-align: center;
}

#idd-footer {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
}


#idd-search-box-div {
  border: 1px solid black;
  border-radius: 25px;
}

#idd-dictionary-body {
  padding: 10px;
  padding-top: 30px;
}