body {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

#idd-header {
  padding: 10px;
  text-align: center;
  height: auto;
}

.idd-header-contents {
  height: 100%;
}

#idd-logo {
  /*width: 50%;*/
  width: 100%;
  max-width: 100px;
  float: center;
}

#idd-header-title {
  font-size: auto;
  font-family: trajan;
  padding: 10px;
  float: left;
}

#idd-navbar {
  background-color: #0e2752;
  color: white;
  text-align: center;
}

.idd-nav-item:hover {
  background-color: #366ac3;
}

#idd-body {
  height: 1000px;
  max-width: 900px;
  background-color: pink;
}

#idd-footer {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
}