<!-- Body -->
<div class="container" id="idd-body">
  <h2><b>Detobentói <i>Diccionarioi</i> Institutosjo Danetiskas Danfuas.</b></h2>

  <div class="container-fluid" id="idd-search-box-div">
    <form class="form-inline" method="get" action="/diccionariom/">
      <input class="form-control" type="text" placeholder="Gerfete sote verfom" name="q" value="{{ current_search }}">
      <button class="btn btn-rounded btn-md" type="submit">Sagotí</button>
    </form>
  </div>
  
  <div id="idd-dictionary-body">
  <p>Tod diccionariom epirefoti normam danetiskas danfuas peri lexikosjo. Sote,
  sagite standardam gerfetim donféi 1000 lexicographicóm articulóm i suvam
  angliskam peduketim, tosom som importantam informacionam peri grammatiskóm
  proprietatóm, synonymóm¸ antonymóm, etymologias, i alja data brukinta do
  correctas bruketies danfuas.</p>
  </div>
  
  <div class="idd-dictionary-entry">
    <h3 class="idd-dictionary-lemma">diccionariom</h3>
    <p class="idd-dictionary-etymology">Apo latiniská <i>dictionarium</i>.</p>
    <ol>
      <li class="idd-dictionary-sense"><p style="font-weight: normal;"><span class="idd-dictionary-part-of-speech" title="neutrom noman">n.</span> <span>dictionary.</span> <span class="idd-dictionary-example">Sagote sagjeman werfosjo en diccionarí.</span></p></li>
    </ol>
  </div>
  
</div>
