<!-- Body -->
<div class="container" id="idd-body">
  <div class="row">
    <div class="col-sm-8">
      
{% include page %}
      
    </div>
    <div class="col-sm-4"><p>alfjaafkafkl  kfs
      gj sg lsj ljskl lksjlkjlk jsjg kls slkjk jl
      k ajfkjfalf lkalf j aefjaf alfnalfweanf jelfj a
      adkfj alejf klajjef al  kaj eklaje kljlka a 
       llk jklajkl ja jklj klj klj klweaklf jajekl ja
       laef aj al jkj kljael jfl jaj ak f klf jawe
        lajfeja jlkej kljae jklejf klajef jaje klajfj a
      ef alk jaelf jaejf laje jfaej lfja jajefja ejafk fajfl 
      a peaj klajef ja jlajek fjaljefaje jaf 
      afe jklaej la jkelje kljekl jeklaj  
      alef klaejf ajef jklawef wej fklawejkl fjak
        alejfaja fje klajfk ae klfjklefaj kle
      a lekf aefj kaef jaefj klawejfaejf aewf lanf 
      aef klajf aj jaewkljfkaj fjaefj a
      alef jkafjzjfdaj klajfjafj klaejf jawefk aewfkla
      alefjklajefja a kjaef jkaejkl ja jlk</p>
    {% include '_dictionary-search-box.html' %}</div>
  </div>
</div>
