<!--
{% for e in matches %}
<div class="idd-dictionary-entry">
  <h3 class="idd-dictionary-lemma">{{ e.lemma }}</h3>
  <p class="idd-dictionary-etymology">{{ e.etymology }}</p>
  <ol>
    <li class="idd-dictionary-sense"><p style="font-weight: normal;"><span class="idd-dictionary-part-of-speech">{{ e.category }}</span> <span>{{ e.definition }}</span> <span class="idd-dictionary-example">{{ e.example_sentence }}</span></p></li>
  </ol>
</div>
{% empty %}
We could not find any matches.
{% endfor %}
-->

{% for e in matches %}
<div class="idd-dictionary-entry">
  <h3 class="idd-dictionary-lemma">{{ e.lemma }}</h3>
  <p class="idd-dictionary-etymology">{{ e.etymology|safe }}</p>
  <ol>
  {% for entry in e.entries %}
    <li class="idd-dictionary-sense"><p style="font-weight: normal;"><span class="idd-dictionary-part-of-speech">{{ entry.category }}.</span> <span>{{ entry.definition }}</span> <span class="idd-dictionary-example">{{ entry.example }}</span></p></li>
  {% endfor %}
  </ol>
</div>
{% empty %}
<p style="color: red;">Ana vosjí dofedjemení nepom ne sagonnom!</p>
{% endfor %}